<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staged Inventory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <script src="https://kit.fontawesome.com/aedf7eeccf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- MultiStep Form -->
<div class="container-fluid" style='height: 100%;' id="grad1">
    <div class="row justify-content-center mt-0">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h3><strong>Inventory</strong></h3>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form method="POST" id="msform">
                            {% csrf_token %}
                            <!-- progressbar -->
                            <ul style='align-items: center; width: 100%;' id="progressbar">
                            
                                <li style='display: inline-block; float: none;' class='active' id="confirm"></li>
                            </ul> <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title"  style="text-align: center;">Add An Item</h2> 
                                    <div style="display: flex;">
                                    <input style="margin-right:2% ;"  type="number" name="sku" placeholder="Item SKU" /> 
                                    <input  type="text" name="name" placeholder="Item Name" /> 
                                    </div>
                                    <div style="display: flex;">
                                    <select required class="list-dt" id="year" name="category">
                                        <option value="" disabled selected >Category</option>
                                        {% for category in categories %}
                                        <option>{{category}}</option>
                                        {% endfor %}
                                    </select>
                                    <select required class="list-dt" id="year" name="sub_category">
                                        <option value="" disabled selected >Sub-Category</option>
                                        {% for furniture in furniture %}
                                        <option>{{furniture}}</option>
                                        {% endfor %}
                                    </select>
                                    <select class="list-dt" id="year" name="color">
                                        <option  value= '' disabled selected>Color</option>
                                       {% for color in colors %}
                                       <option>{{color}}</option>
                                        {% endfor %}
                                    </select>
                                    <select class="list-dt" id="year" name="finish">
                                        <option value='' disabled selected>Finish</option>
                                        {% for finish in finishes %}
                                        <option>{{finish}}</option>
                                         {% endfor %}
                                    </select>
                                    <select class="list-dt" id="year" name="upholstery">
                                        <option value='' disabled selected>Upholstery</option>
                                        {% for upholstery in upholstery %}
                                        <option>{{upholstery}}</option>
                                         {% endfor %}
                                    </select>
                                    <select class="list-dt" id="year" name="condition">
                                        <option value='' disabled selected>Condition</option>
                                        {% for condition in condition %}
                                        <option>{{condition}}</option>
                                         {% endfor %}
                                    </select>
                                    </div>
                                    <br>
                                    <div style="display: flex;">
                                        <select class="list-dt" id="year" name="quantity">
                                            <option value='' disabled selected>Quantity</option>
                                            {% for quantity in quantity %}
                                            <option>{{quantity}}</option>
                                             {% endfor %}
                                        </select>
                                        <select class="list-dt" id="year" name="pcs">
                                            <option value='' disabled selected>Pcs</option>
                                            {% for pcs in pcs %}
                                            <option>{{pcs}}</option>
                                             {% endfor %}
                                        </select>
                                        <select class="list-dt" id="year" name="source">
                                            <option value='' disabled selected>Source</option>
                                            {% for source in sources %}
                                            <option>{{source}}</option>
                                             {% endfor %}
                                        </select>
                                        <select class="list-dt" id="year" name="location">
                                            <option value='' disabled selected>Location</option>
                                            {% for location in locations %}
                                            <option>{{location}}</option>
                                             {% endfor %}
                                        </select>
                                        <select class="list-dt" id="year" name="unit">
                                            <option value='' disabled selected>Unit #</option>
                                            {% for unit in units %}
                                            <option>{{unit}}</option>
                                             {% endfor %}
                                        </select>
                                        <select class="list-dt" id="year" name="listed">
                                            <option value='' disabled selected>Listed</option>
                                            <option>Yes</option>
                                            <option>No</option>
                                             
                                        </select>
                                    </div>
                                    <br>
                                    <div style="display: flex;">
                                    <input style="margin-right:2% ;width: 30%; align-self:baseline;"  type="number" name="cost" placeholder="Cost"/>
                                    <input style="margin-right:2% ;width: 30%; align-self:baseline;"  type="number" name="list_price" placeholder="List Price"/>
                                    <input type="file" name="picture" placeholder="thumbnail">
                                    </div><br>
                                    <textarea style="border: 1px solid black;" name="comments" cols="30" rows="10"></textarea>
                                </div> <input style="width: fit-content;" type="submit" class="next action-button" value="Add Another" /><input type="submit" name='complete'  class="next action-button" value="Submit" />
                            </fieldset>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'app.js' %}"></script>
</body>
</html>